@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lora:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif ;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.spinner_new{
  height: 100%;
  width: 100%;
  background-color: rgba(142, 135, 135, 0.63);
  display:grid;
  place-items: center;

}
