.sidebar_main{
    height: 95vh;
    /* width: 7vw; */
    background-color: rgb(138, 136, 132);
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 3px black;
    padding: 2vh 1vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_container{
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-size: 30px;
}
.main_container >span{
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
    height: fit-content;
    padding-block: 10px;
}
.main_container > span:hover{
    background-color: rgb(43, 41, 41);
    color: white;
}


.logout >span{
    font-size: 30px;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
    height: fit-content;
    padding-block: 10px;
}
.logout > span:hover{
    background-color: rgb(43, 41, 41);
    color: white;
   
}

@media(max-width:700px){
    .sidebar_main{
        height: 100%;
        /* width: 7vw; */
        padding: 1vh 2vw;
        
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .main_container{
       /* border: 1px solid red; */
       font-size: 22px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       
    }
    .main_container >span{
        background-color: grey;
        border-radius: 10px;
        
        padding-block: 10px;
        padding-inline: 10px;
    }
    .logout >span{
        font-size: 22px;
        background-color: grey;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        right: 2vw;
        display: grid;
        place-items: center;
        height: fit-content;
        padding-block: 10px;
        padding-inline: 10px;
    }


}